@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap");
@import "./variables";

body {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  font-family: "Stint Ultra Expanded", serif;
  font-size: 1.5rem;
  background-color: $green;
  color: $beige;
}
