.card {
}
.card__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.front {
  max-width: 150px;
}
.back {
  max-width: 150px;
  border-radius: 10px;
}
